/* File: src/index.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, #root {
    width: 100%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    background-color: #f0f2f5; /* Màu nền xám nhẹ chuẩn Ant Design */
}

/* Sửa lỗi Sidebar bị đè trên Mobile */
.ant-layout-sider {
    z-index: 100;
}
